.about{
    font-family: 'Roboto', sans-serif;
    width: 95%;
    padding: 3rem;
    background-color: #1C2833 ;
    color: white;
}

.about-img{
    width: 35%;
    background-color: #1C2833 ;
    padding-top: 7rem;
}

.sp{
    background-color: #1C2833;
    color: white;
    font-size: x-large;
    height: 20rem;
}
/* .img{
    padding-top: 8rem;
    height: auto;
    padding-left: 2rem;
} */

/* .contact{
    background-color: #F39C12 ;
    font-family: 'Roboto', sans-serif;
    font-size: 300;
    color: wheat;
    height: 30rem;
} */
  